{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="auth-container">
  <h2 class="text-center mb-4">Login</h2>
  <form method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Nome de Usuário</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Entrar</button>
      <a href="{{ url_for('signup') }}" class="btn btn-secondary"
        >Criar Conta</a
      >
      <a href="{{ url_for('guest') }}" class="btn btn-guest"
        >Entrar como Visitante</a
      >
    </div>
  </form>
</div>
{% endblock %}
